<h1>Shows</h1>
<ul>
    <% @shows.each do |show| %>
        <% if show.title %>
            <li><%= link_to "Show #{show.title}", show_path(show) %></li>
        <% else %>
            <li><%= link_to "No shows to see here", root_path(@user) %></li>
        <% end %>
    <% end %>
