<h1>Welcome to the Horse Shows app <%= @user.name %>!</h1>

<p> Go to your profile to see your horses and the shows you entered them in! </p><br><br>

<%= link_to "Your Profile", user_path(@user), class: 'navbar-brand' %><br><br>